# IEEE-CIS fraud Detection (Kaggle)

In [1]:
train_id = 'D:/Datasets/fraud_detection/train_identity.csv'
train_tran = 'D:/Datasets/fraud_detection/train_transaction.csv'

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

train_ids = pd.read_csv(train_id)
train_trans = pd.read_csv(train_tran)

print(train_ids.head())
print(train_trans.head())

   TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
0        2987004    0.0   70787.0    NaN    NaN    NaN    NaN    NaN    NaN
1        2987008   -5.0   98945.0    NaN    NaN    0.0   -5.0    NaN    NaN
2        2987010   -5.0  191631.0    0.0    0.0    0.0    0.0    NaN    NaN
3        2987011   -5.0  221832.0    NaN    NaN    0.0   -6.0    NaN    NaN
4        2987016    0.0    7460.0    0.0    0.0    1.0    0.0    NaN    NaN

   id_09  ...                id_31  id_32      id_33           id_34  id_35  \
0    NaN  ...  samsung browser 6.2   32.0  2220x1080  match_status:2      T
1    NaN  ...   mobile safari 11.0   32.0   1334x750  match_status:1      T
2    0.0  ...          chrome 62.0    NaN        NaN             NaN      F
3    NaN  ...          chrome 62.0    NaN        NaN             NaN      F
4    0.0  ...          chrome 62.0   24.0   1280x800  match_status:2      T

  id_36 id_37  id_38  DeviceType                     DeviceInfo
0     F     T      T      mobile  SAMSUNG SM-G892A Build/NRD90M
1     F     F      T      mobile                     iOS Device
2     F     T      T     desktop                        Windows
3     F     T      T     desktop                            NaN
4     F     T      T     desktop                          MacOS

[5 rows x 41 columns]
   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0        2987000        0          86400            68.5         W  13926
1        2987001        0          86401            29.0         W   2755
2        2987002        0          86469            59.0         W   4663
3        2987003        0          86499            50.0         W  18132
4        2987004        0          86506            50.0         H   4497

   card2  card3       card4  card5  ... V330  V331  V332  V333  V334 V335  \
0    NaN  150.0    discover  142.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
1  404.0  150.0  mastercard  102.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
2  490.0  150.0        visa  166.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
3  567.0  150.0  mastercard  117.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
4  514.0  150.0  mastercard  102.0  ...  0.0   0.0   0.0   0.0   0.0  0.0

  V336  V337  V338  V339
0  NaN   NaN   NaN   NaN
1  NaN   NaN   NaN   NaN
2  NaN   NaN   NaN   NaN
3  NaN   NaN   NaN   NaN
4  0.0   0.0   0.0   0.0

[5 rows x 394 columns]

In [3]:
print(train_ids.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
TransactionID    144233 non-null int64
id_01            144233 non-null float64
id_02            140872 non-null float64
id_03            66324 non-null float64
id_04            66324 non-null float64
id_05            136865 non-null float64
id_06            136865 non-null float64
id_07            5155 non-null float64
id_08            5155 non-null float64
id_09            74926 non-null float64
id_10            74926 non-null float64
id_11            140978 non-null float64
id_12            144233 non-null object
id_13            127320 non-null float64
id_14            80044 non-null float64
id_15            140985 non-null object
id_16            129340 non-null object
id_17            139369 non-null float64
id_18            45113 non-null float64
id_19            139318 non-null float64
id_20            139261 non-null float64
id_21            5159 non-null float64
id_22            5169 non-null float64
id_23            5169 non-null object
id_24            4747 non-null float64
id_25            5132 non-null float64
id_26            5163 non-null float64
id_27            5169 non-null object
id_28            140978 non-null object
id_29            140978 non-null object
id_30            77565 non-null object
id_31            140282 non-null object
id_32            77586 non-null float64
id_33            73289 non-null object
id_34            77805 non-null object
id_35            140985 non-null object
id_36            140985 non-null object
id_37            140985 non-null object
id_38            140985 non-null object
DeviceType       140810 non-null object
DeviceInfo       118666 non-null object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB
None

In [4]:
print(train_trans.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB
None

In [5]:
# Object columns from train_ids df

train_ids.loc[:, train_ids.dtypes == object].head()

,id_12,id_15,id_16,id_23,id_27,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,NotFound,New,NotFound,NaN,NaN,New,NotFound,Android 7.0,samsung browser 6.2,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,NotFound,New,NotFound,NaN,NaN,New,NotFound,iOS 11.1.2,mobile safari 11.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,NotFound,Found,Found,NaN,NaN,Found,Found,NaN,chrome 62.0,NaN,NaN,F,F,T,T,desktop,Windows
3,NotFound,New,NotFound,NaN,NaN,New,NotFound,NaN,chrome 62.0,NaN,NaN,F,F,T,T,desktop,NaN
4,NotFound,Found,Found,NaN,NaN,Found,Found,Mac OS X 10_11_6,chrome 62.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [6]:
# Object columns in train_trans 

train_trans.loc[:, train_trans.dtypes == object].head()

,ProductCD,card4,card6,P_emaildomain,R_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,W,discover,credit,NaN,NaN,T,T,T,M2,F,T,NaN,NaN,NaN
1,W,mastercard,credit,gmail.com,NaN,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
2,W,visa,debit,outlook.com,NaN,T,T,T,M0,F,F,F,F,F
3,W,mastercard,debit,yahoo.com,NaN,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,H,mastercard,credit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(len(train_trans.loc[:, train_trans.dtypes == object].columns), 'train_trans')
print(len(train_ids.loc[:, train_ids.dtypes == object].columns), 'train_ids')

14 train_trans
17 train_ids

# Merge Data

In [8]:
train = train_ids.merge(train_trans, how='right', on='TransactionID')
train.shape

(590540, 434)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 434 entries, TransactionID to V339
dtypes: float64(399), int64(4), object(31)
memory usage: 1.9+ GB

In [10]:
# y_train 

y_train = train['isFraud']
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: isFraud, dtype: int64

In [11]:
X_train = train.drop(['isFraud'], axis=1)
X_train.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Data Clean 

<u>Below are the object columns for the X_train df</u>

id_12	id_15	id_16	id_23	id_27	id_28	id_29	id_30	id_31	id_33	id_34	id_35	id_36	id_37	id_38	DeviceType	DeviceInfo

ProductCD	card4	card6	P_emaildomain	R_emaildomain	M1	M2	M3	M4	M5	M6	M7	M8	M9

In [12]:
object_columns = ['id_12', 'id_15', 'id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo', 'ProductCD', 'card4', 'card6', 'P_emaildomain', 'R_emaildomain', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9']

In [13]:
num_columns = X_train.select_dtypes(include=['float64', 'int64'])

In [14]:
object_columns = X_train.select_dtypes(include=['object'])

In [15]:
print(len(num_columns.columns))
print(len(object_columns.columns))

402
31

I think what I will have to do is build a pipeline to clean these two seperate DFs and then merge them again using the Transaction IDs after cleaning.

In [16]:
# Seeing what is the missing values for the num_columns 

num_columns.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
object_columns.head()

,id_12,id_15,id_16,id_23,id_27,id_28,id_29,id_30,id_31,id_33,...,R_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,NotFound,New,NotFound,NaN,NaN,New,NotFound,Android 7.0,samsung browser 6.2,2220x1080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NotFound,New,NotFound,NaN,NaN,New,NotFound,iOS 11.1.2,mobile safari 11.0,1334x750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NotFound,Found,Found,NaN,NaN,Found,Found,NaN,chrome 62.0,NaN,...,gmail.com,NaN,NaN,NaN,M0,NaN,NaN,NaN,NaN,NaN
3,NotFound,New,NotFound,NaN,NaN,New,NotFound,NaN,chrome 62.0,NaN,...,hotmail.com,NaN,NaN,NaN,M0,NaN,NaN,NaN,NaN,NaN
4,NotFound,Found,Found,NaN,NaN,Found,Found,Mac OS X 10_11_6,chrome 62.0,1280x800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I'll fill the NaN values for both DF using SimpleImputer(strategy='most_frequent')

In [18]:
# Now to see how many different classes there are for each object column

list(object_columns.columns)

['id_12',
 'id_15',
 'id_16',
 'id_23',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'DeviceType',
 'DeviceInfo',
 'ProductCD',
 'card4',
 'card6',
 'P_emaildomain',
 'R_emaildomain',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9']

Can I create a loop that will iterate through the object_columns and output the unique values for each column?

In [19]:
def find_unique(df):
    for i in df:
        print(df[i].unique(), i)

In [20]:
find_unique(object_columns)

['NotFound' 'Found' nan] id_12
['New' 'Found' nan 'Unknown'] id_15
['NotFound' 'Found' nan] id_16
[nan 'IP_PROXY:TRANSPARENT' 'IP_PROXY:ANONYMOUS' 'IP_PROXY:HIDDEN'] id_23
[nan 'Found' 'NotFound'] id_27
['New' 'Found' nan] id_28
['NotFound' 'Found' nan] id_29
['Android 7.0' 'iOS 11.1.2' nan 'Mac OS X 10_11_6' 'Windows 10' 'Android'
 'Linux' 'iOS 11.0.3' 'Mac OS X 10_7_5' 'Mac OS X 10_12_6'
 'Mac OS X 10_13_1' 'iOS 11.1.0' 'Mac OS X 10_9_5' 'Windows 7'
 'Windows 8.1' 'Mac' 'iOS 10.3.3' 'Mac OS X 10.12' 'Mac OS X 10_10_5'
 'Mac OS X 10_11_5' 'iOS 9.3.5' 'Android 5.1.1' 'Android 7.1.1'
 'Android 6.0' 'iOS 10.3.1' 'Mac OS X 10.9' 'iOS 11.1.1' 'Windows Vista'
 'iOS 10.3.2' 'iOS 11.0.2' 'Mac OS X 10.11' 'Android 8.0.0' 'iOS 10.2.0'
 'iOS 10.2.1' 'iOS 11.0.0' 'Mac OS X 10.10' 'Mac OS X 10_12_3'
 'Mac OS X 10_12' 'Android 6.0.1' 'iOS' 'Mac OS X 10.13'
 'Mac OS X 10_12_5' 'Mac OS X 10_8_5' 'iOS 11.0.1' 'iOS 10.0.2'
 'Android 5.0.2' 'Windows XP' 'iOS 11.2.0' 'Mac OS X 10.6' 'Windows 8'
 'Mac OS X 10_6_8' 'Mac OS X 10_11_4' 'Mac OS X 10_12_1' 'iOS 10.1.1'
 'Mac OS X 10_11_3' 'Mac OS X 10_12_4' 'Mac OS X 10_13_2' 'Android 4.4.2'
 'Mac OS X 10_12_2' 'Android 5.0' 'func' 'Android 7.1.2' 'Android 8.1.0'
 'other' 'Mac OS X 10_13_3' 'iOS 11.2.1' 'iOS 11.2.5' 'Windows'
 'iOS 11.2.2' 'iOS 11.3.0' 'iOS 11.2.6' 'Mac OS X 10_13_4'
 'Mac OS X 10_13_5' 'iOS 11.4.0' 'iOS 11.3.1' 'iOS 11.4.1'] id_30
['samsung browser 6.2' 'mobile safari 11.0' 'chrome 62.0' nan
 'chrome 62.0 for android' 'edge 15.0' 'mobile safari generic'
 'chrome 49.0' 'chrome 61.0' 'edge 16.0' 'safari generic' 'edge 14.0'
 'chrome 56.0 for android' 'firefox 57.0' 'chrome 54.0 for android'
 'mobile safari uiwebview' 'chrome' 'chrome 62.0 for ios' 'firefox'
 'chrome 60.0 for android' 'mobile safari 10.0' 'chrome 61.0 for android'
 'ie 11.0 for desktop' 'ie 11.0 for tablet' 'mobile safari 9.0'
 'chrome generic' 'other' 'chrome 59.0 for android' 'firefox 56.0'
 'android webview 4.0' 'chrome 55.0' 'opera 49.0' 'ie'
 'chrome 55.0 for android' 'firefox 52.0' 'chrome 57.0 for android'
 'chrome 56.0' 'chrome 46.0 for android' 'chrome 58.0' 'firefox 48.0'
 'chrome 59.0' 'samsung browser 4.0' 'edge 13.0' 'chrome 53.0 for android'
 'chrome 58.0 for android' 'chrome 60.0' 'mobile safari 8.0'
 'firefox generic' 'Generic/Android 7.0' 'mobile' 'Samsung/SM-G532M'
 'chrome 50.0 for android' 'chrome 51.0 for android' 'chrome 63.0'
 'chrome 52.0 for android' 'chrome 51.0' 'firefox 55.0' 'edge' 'opera'
 'chrome generic for android' 'aol' 'samsung browser 5.4' 'Samsung/SCH'
 'silk' 'chrome 57.0' 'firefox 47.0' 'chrome 63.0 for android'
 'Samsung/SM-G531H' 'chrome 43.0 for android' 'waterfox' 'Nokia/Lumia'
 'chrome 63.0 for ios' 'puffin' 'Microsoft/Windows' 'cyberfox'
 'Generic/Android' 'samsung' 'opera generic' 'chrome 49.0 for android'
 'ZTE/Blade' 'safari' 'android browser 4.0' 'samsung browser 5.2'
 'palemoon' 'maxthon' 'line' 'LG/K-200' 'iron' 'BLU/Dash' 'seamonkey'
 'firefox 58.0' 'chrome 64.0 for android' 'chrome 64.0' 'firefox 59.0'
 'chrome 64.0 for ios' 'M4Tel/M4' 'comodo' 'Lanix/Ilium'
 'samsung browser generic' 'chromium' 'opera 51.0' 'Inco/Minion'
 'samsung browser 7.0' 'Mozilla/Firefox' 'samsung browser 4.2'
 'samsung browser 6.4' 'chrome 65.0' 'chrome 65.0 for android'
 'chrome 65.0 for ios' 'Cherry' 'icedragon' 'android' 'edge 17.0'
 'chrome 66.0' 'chrome 66.0 for android' 'safari 11.0' 'safari 9.0'
 'safari 10.0' 'google' 'chrome 66.0 for ios'
 'google search application 48.0' 'opera 52.0' 'firefox 60.0' 'opera 53.0'
 'samsung browser 3.3' 'google search application 49.0' 'facebook'
 'firefox mobile 61.0' 'chrome 67.0' 'chrome 69.0'
 'chrome 67.0 for android'] id_31
['2220x1080' '1334x750' nan '1280x800' '1366x768' '1920x1080' '1680x1050'
 '1136x640' '5120x2880' '2880x1800' '1920x1200' '2560x1600' '2048x1536'
 '1024x768' '1280x720' '2560x1440' '2208x1242' '2001x1125' '1440x900'
 '1600x900' '2672x1440' '1280x1024' '960x540' '2732x2048' '2436x1125'
 '2048x1152' '2960x1440' '1024x600' '855x480' '4096x2304' '2160x1440'
 '2562x1442' '801x480' '2736x1824' '3441x1440' '2880x1620' '3840x2160'
 '1638x922' '1280x768' '1360x768' '1280x960' '3440x1440' '1152x720'
 '1280x1025' '3360x2100' '2304x1296' '1152x864' '3200x1800' '2112x1188'
 '2224x1668' '2400x1350' '2000x1125' '1600x1000' '2560x1080' '1728x972'
 '3000x2000' '1024x640' '3840x2400' '2304x1440' '1280x600' '1400x1050'
 '1600x1200' '3201x1800' '1356x900' '1344x756' '1624x1080' '1536x864'
 '1800x1125' '1920x1281' '2961x1442' '1366x1024' '1344x840' '3360x1890'
 '1536x1152' '1200x675' '1480x720' '2400x1600' '3200x2000' '1281x801'
 '960x640' '1776x1000' '2048x1280' '2049x1152' '1138x640' '2160x1215'
 '2880x1440' '0x0' '2520x1575' '5760x3240' '3843x2163' '1184x720'
 '1440x810' '2076x1080' '1600x837' '1093x615' '1281x721' '1152x648'
 '2392x1440' '2048x1080' '2735x1825' '1680x945' '1805x1015' '5760x1080'
 '2816x1584' '4500x3000' '1684x947' '1440x960' '1364x768' '3072x1728'
 '5040x3150' '7500x5000' '768x576' '1768x992' '1658x946' '1200x720'
 '1239x697' '1188x720' '1232x800' '1920x1280' '1264x924' '1400x900'
 '3240x2160' '2961x1440' '1422x889' '1848x1155' '3360x1050' '3840x1080'
 '2010x1080' '2160x1350' '1440x720' '1280x712' '1512x945' '1296x774'
 '1368x768' '3520x1980' '800x600' '1700x960' '2560x1800' '6400x3600'
 '2368x1440' '1824x1026' '1912x1025' '600x450' '3840x1600' '1760x990'
 '2700x1800' '1371x857' '1776x1080' '2552x1337' '3600x2250' '2560x1700'
 '2816x1760' '1440x800' '1440x803' '1920x1018' '6016x3384' '1280x620'
 '1281x720' '1720x1440' '1408x880' '640x360' '1920x975' '976x600'
 '1062x630' '2800x1575' '6720x3780' '1440x759' '1120x700' '1921x1081'
 '1280x1023' '1279x1023' '1441x901' '1679x1049' '1680x1051' '2220x1081'
 '1920x1079' '1919x1199' '1680x1049' '1365x768' '1919x1079' '1919x1200'
 '1919x1080' '1366x767' '1584x990' '2880x1442' '1281x800' '1229x691'
 '1600x1024' '1600x899' '1536x960' '1502x844' '1920x1201' '1439x809'
 '1408x792' '1279x1024' '1599x900' '1920x1081' '921x691' '3841x2161'
 '1921x1080' '480x320' '1888x941' '2049x1536' '2160x1439' '1707x960'
 '1024x767' '1365x767' '3001x2000' '3839x2160' '1916x901' '3838x2158'
 '1599x899' '3199x1800' '1511x944' '2737x1825' '2736x1823' '2735x1823'
 '2559x1439' '2400x1500' '2882x1442' '1729x973' '1727x971' '1023x767'
 '1918x1080' '1439x900' '4499x2999' '1280x740' '2999x2000' '1024x552'
 '1440x899' '2255x1503' '1025x768' '1280x732' '3839x2159' '3840x2162'
 '3696x2310' '2159x1439' '2256x1504' '1439x899' '2159x1440' '1359x768'
 '1092x614' '2048x1278' '2591x1619' '4200x2625' '2710x1440' '1272x960'
 '1023x768' '3838x2160' '2100x1312' '1360x767' '1024x819' '1502x845'
 '2561x1442' '2559x1440' '2160x1081' '1920x1279' '2160x1080' '1596x710'
 '1496x844' '1280x900'] id_33
['match_status:2' 'match_status:1' nan 'match_status:0' 'match_status:-1'] id_34
['T' 'F' nan] id_35
['F' nan 'T'] id_36
['T' 'F' nan] id_37
['T' nan 'F'] id_38
['mobile' 'desktop' nan] DeviceType
['SAMSUNG SM-G892A Build/NRD90M' 'iOS Device' 'Windows' ...
 'LDN-LX3 Build/HUAWEILDN-LX3' 'Z955A' 'LG-E975'] DeviceInfo
['H' 'C' 'S' 'R' 'W'] ProductCD
['mastercard' 'visa' 'american express' 'discover' nan] card4
['credit' 'debit' nan 'charge card' 'debit or credit'] card6
['gmail.com' 'anonymous.com' 'hotmail.com' 'aol.com' 'yahoo.com' nan
 'outlook.com' 'charter.net' 'comcast.net' 'optonline.net'
 'embarqmail.com' 'live.com.mx' 'icloud.com' 'juno.com' 'att.net'
 'msn.com' 'yahoo.com.mx' 'cox.net' 'servicios-ta.com' 'me.com'
 'hotmail.es' 'live.com' 'verizon.net' 'bellsouth.net' 'sbcglobal.net'
 'gmx.de' 'mail.com' 'frontier.com' 'frontiernet.net' 'outlook.es'
 'suddenlink.net' 'roadrunner.com' 'mac.com' 'earthlink.net' 'web.de'
 'twc.com' 'ymail.com' 'yahoo.fr' 'yahoo.de' 'windstream.net' 'gmail'
 'rocketmail.com' 'cfl.rr.com' 'yahoo.es' 'live.fr' 'q.com'
 'prodigy.net.mx' 'yahoo.co.uk' 'hotmail.fr' 'hotmail.de' 'netzero.net'
 'cableone.net' 'aim.com' 'ptd.net' 'centurylink.net' 'hotmail.co.uk'
 'netzero.com' 'sc.rr.com' 'yahoo.co.jp' 'protonmail.com'] P_emaildomain
[nan 'gmail.com' 'hotmail.com' 'outlook.com' 'anonymous.com' 'charter.net'
 'comcast.net' 'live.com.mx' 'icloud.com' 'yahoo.com' 'aol.com' 'juno.com'
 'att.net' 'verizon.net' 'yahoo.com.mx' 'bellsouth.net' 'servicios-ta.com'
 'ymail.com' 'hotmail.es' 'msn.com' 'optonline.net' 'live.com' 'gmx.de'
 'aim.com' 'mail.com' 'me.com' 'outlook.es' 'cox.net' 'earthlink.net'
 'embarqmail.com' 'web.de' 'sbcglobal.net' 'scranton.edu' 'mac.com'
 'twc.com' 'roadrunner.com' 'yahoo.fr' 'yahoo.de' 'yahoo.es'
 'frontiernet.net' 'gmail' 'live.fr' 'q.com' 'prodigy.net.mx'
 'yahoo.co.uk' 'windstream.net' 'suddenlink.net' 'hotmail.fr' 'ptd.net'
 'hotmail.de' 'frontier.com' 'cfl.rr.com' 'hotmail.co.uk' 'netzero.com'
 'netzero.net' 'yahoo.co.jp' 'rocketmail.com' 'centurylink.net'
 'protonmail.com' 'cableone.net' 'sc.rr.com'] R_emaildomain
[nan 'T' 'F'] M1
[nan 'T' 'F'] M2
[nan 'T' 'F'] M3
[nan 'M0' 'M2' 'M1'] M4
[nan 'F' 'T'] M5
[nan 'T' 'F'] M6
[nan 'F' 'T'] M7
[nan 'F' 'T'] M8
[nan 'F' 'T'] M9

In [21]:
id_30_count = object_columns.groupby('id_30').aggregate(len)
os_type = id_30_count['id_31']
os_type

id_30
Android             1079
Android 4.4.2         63
Android 5.0           41
Android 5.0.2         55
Android 5.1.1        350
Android 6.0           80
Android 6.0.1        566
Android 7.0         2871
Android 7.1.1        630
Android 7.1.2         33
Android 8.0.0        343
Android 8.1.0        192
Linux               1136
Mac                  303
Mac OS X 10.10       135
Mac OS X 10.11       200
Mac OS X 10.12       218
Mac OS X 10.13       287
Mac OS X 10.6         49
Mac OS X 10.9         58
Mac OS X 10_10_5    1651
Mac OS X 10_11_3      54
Mac OS X 10_11_4      53
Mac OS X 10_11_5      82
Mac OS X 10_11_6    2348
Mac OS X 10_12        49
Mac OS X 10_12_1      44
Mac OS X 10_12_2      33
Mac OS X 10_12_3      95
Mac OS X 10_12_4     103
                    ...
Windows 8.1         1914
Windows Vista        246
Windows XP           131
func                  10
iOS                  274
iOS 10.0.2            95
iOS 10.1.1            96
iOS 10.2.0           149
iOS 10.2.1           285
iOS 10.3.1           236
iOS 10.3.2           428
iOS 10.3.3          1558
iOS 11.0.0           144
iOS 11.0.1           127
iOS 11.0.2           166
iOS 11.0.3           659
iOS 11.1.0           271
iOS 11.1.1           700
iOS 11.1.2          3699
iOS 11.2.0           852
iOS 11.2.1          3722
iOS 11.2.2           902
iOS 11.2.5          1200
iOS 11.2.6          1647
iOS 11.3.0          2016
iOS 11.3.1           136
iOS 11.4.0             5
iOS 11.4.1             1
iOS 9.3.5            414
other                 15
Name: id_31, Length: 75, dtype: int64

In [81]:
# My way of doing "Frequency Encoding"

id_33_count = object_columns.groupby('id_33').aggregate(len)
resolution_type = id_33_count['id_34']
resolution_type.sort_values(ascending=False)

id_33
1920x1080    16874
1366x768      8605
1334x750      6447
2208x1242     4900
1440x900      4384
1600x900      3510
2048x1536     3482
1280x800      2149
2560x1600     2093
2560x1440     1865
2880x1800     1756
1280x1024     1743
1680x1050     1727
1136x640      1712
2436x1125     1484
1280x720      1318
1920x1200     1056
2001x1125     1020
1024x768       824
2220x1080      544
5120x2880      397
3360x2100      380
2732x2048      354
1366x767       335
3840x2160      263
855x480        250
2736x1824      241
1360x768       224
4096x2304      208
2224x1668      194
             ...
2159x1440        1
2159x1439        1
2710x1440        1
1638x922         1
3360x1050        1
2736x1823        1
1366x1024        1
3199x1800        1
3072x1728        1
1400x900         1
1408x792         1
1422x889         1
1439x809         1
1440x759         1
1440x800         1
1440x803         1
3001x2000        1
2999x2000        1
1441x901         1
1496x844         1
2882x1442        1
1502x845         1
1511x944         1
1536x1152        1
2816x1760        1
1536x960         1
1596x710         1
2816x1584        1
2800x1575        1
976x600          1
Name: id_34, Length: 260, dtype: int64

## Export the list(s) above to CSV to have a better view.

In [66]:
save_path =r'D:/Datasets/'

# device_browsers = device_type.sort_values(ascending=False).reset_index()

# device_browsers.to_csv(save_path + 'device_type_list.csv')

In [82]:
# screen_resolutions = resolution_type.sort_values(ascending=False).reset_index()
# screen_resolutions.to_csv(save_path + 'screen_resolutions.csv')

In [70]:
# Seperating the OS from the OS Version 
import re

os_only = [r"^.*Android.*$", r"^.*iOS.*$", r"^.*Mac OS.*$", r"^.*Windows.*$", r"^.*Linux.*$", r"^.*other.*$", r"^.*func.*$", r"^.*Mac.*$"]

os_lst = ['Android', 'iOS', 'Mac OS', 'Windows', 'Linux', 'other', 'func', 'Mac']

obj_columns = object_columns.copy()

obj_columns['id_30'].replace(to_replace=os_only, value=os_lst, regex=True, inplace=True);

In [72]:
browser_list = [r"^.*chrome.*$", r"^.*mobile safari.*$", r"^.*ie.*$", r"^.*edge.*$", r"^.*[Ff]irefox.*$", r"^.*[Ss]amsung.*$", r"^.*android.*$", r"^.*opera.*$", r"^.*safari.*$", r"^.*Microsoft/Windows.*$", r"^.*silk.*$", r"^.*ZTE/Blade.*$"]

browsers = ['Chrome', 'mobile safari', 'ie', 'edge', 'Firefox', 'Samsung', 'android', 'opera', 'safari', 'Microsoft/Windows', 'silk', 'ZTE/Blade']

obj_columns = obj_columns.copy()

obj_columns['id_31'].replace(to_replace=browser_list, value=browsers, regex=True, inplace=True);

In [23]:
# How many transactions were found to be fraud?

# print(train[train['isFraud']== 1].count(), 'Fraud')
# print(train[train['isFraud']== 0].count(), 'Not Fraud')

fraud_column = train[['isFraud']]
# fraud_column.head()
is_fraud = fraud_column[fraud_column['isFraud']==1]
not_fraud = fraud_column[fraud_column['isFraud']==0]
print(is_fraud.count(), 'Is Fraud')
print(not_fraud.count(), 'Is not Fraud')

isFraud    20663
dtype: int64 Is Fraud
isFraud    569877
dtype: int64 Is not Fraud

In [24]:
fraud_df = pd.DataFrame({
    "Not Fraud": not_fraud.count(),
    "Is Fraud": is_fraud.count(),
})

fraud_df.rename(index={'isFraud': 'Count'})

       Not Fraud  Is Fraud
Count     569877     20663

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer


num_pipeline = Pipeline([
    
("num_cols", SimpleImputer(strategy='most_frequent')),

])

cat_pipeline = Pipeline([

    ("cat_col", SimpleImputer(strategy='most_frequent')),
    ("encoder", OneHotEncoder()),
])


number_columns = list(num_columns.columns)
category_columns = list(object_columns.columns) 

full_pipeline = ColumnTransformer([
    ("num_pipeline", num_pipeline, number_columns),
    ("cat_pipeline", cat_pipeline, category_columns),
])

In [26]:
X_trainsformed = full_pipeline.fit_transform(X_train)

# Select Model and Train

In [27]:
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression()

log_clf.fit(X_trainsformed, y_train)

C:\Users\Khemra\Anaconda3\envs\tf_scikit\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

# Test Data Set

In [28]:
test_ids = 'D:/Datasets/fraud_detection/test_identity.csv'
test_trans = 'D:/Datasets/fraud_detection/test_transaction.csv' 

test_id = pd.read_csv(test_ids)
test_tran = pd.read_csv(test_trans)

# Merge the two data sets

test = test_id.merge(test_tran, how='right', on='TransactionID')
test.shape

(506691, 433)

In [29]:
test.head()

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,0.0,0.0,310.0,90.0,0.0,310.0,90.0,0.0,0.0,0.0
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
test_num_columns = list(test.select_dtypes(include=['float64', 'int64']))
test_obj_columns = list(test.select_dtypes(include=['object']))

In [31]:
# transform the test data to the pipeline 

# X_test_tr = full_pipeline.transform(test)

### Splitting
1. Some ppl are using handle_unknown='ignore' with the encoder 
2. Split the OS with the version type of OS
3. Split the Browser from the version or type (just show browser only).


### I need to find a way to feature engineer or drop columns that are not beneficial 


### Aggregations / Group Statistics 
- This create a column that will tell what the average TransAmount is for card1 group. This way abnormal transactionAmt for the card1 group can be spotted if it is different from the average. 

- This is calculated by 3 variables: group, variable of interest, and type of statistic

temp = df.groupby('card1')['TransactionAmt'].agg(['mean']).rename({'mean':'TransactionAmt_card1_mean'}, axis=1)

df = pd.merge(df, temp, on='card1', how='left')


### Normalize/Stadardize the data. 

### Outlier Removal/PCA

- To determine and remove uncommon values. 
- For example, using freq encoding of a variable you can remove all values that appear less than 0.1% by replacing them with -9999. Just use a value different that what you use for NaN.